<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>        
    <add name="DemoR2Entities" connectionString="metadata=res://*/CentraleRischiR2.csdl|res://*/CentraleRischiR2.ssdl|res://*/CentraleRischiR2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.0.17;initial catalog=DemoR2;integrated security=False;User ID=osservauser;Password=O_cVn4U7p;;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />        
  </connectionStrings>
  <appSettings>
      <!-- SEZIONE MAIL -->
      <add key="SmtpServer" value="siaermail4.siaer.prv" />
      <add key="From" value="info@osservamercati.it" />
      <add key="BCC" value="osserva@osservamercati.it" />
      <!-- FINE SEZIONE MAIL -->
    <add key="ThreeStepWSUrl" value="https://wscorp.lince.it/WSCorporate_1/ThreeStepWS" />
    
    <add key="RetrieveReportWSUrl" value="https://wscorp.lince.it/WSCorporate_1/RetrieveReportWS" />
    <add key="CDSStepWSUrl" value="https://wscorp.lince.it/WSCorporate_1/CdsWS" />
    <add key="NETUSER" value="NET_OSSERVA_20131128" />
    <add key="NETPASSWORD" value="CERVEDGR" />
    <add key="NETUSERCDS" value="CGU4976" />
    <add key="NETPASSWORDCDS" value="CERVEDGR" />
    <add key="PRODUCTCODE" value="55220" />
    <add key="ReportPath" value="D:\\SviluppoOsserva\\CentraleRischiR2\\CentraleRischiR2\\ReportPDF\\" />
    <add key="LogPath" value="C:\Log\\LogInsertReport" />
    <!-- SEZIONE MAIL -->
    <add key="SmtpServer" value="siaermail4.siaer.prv" />
    <add key="From" value="info@osservamercati.it" />
    <add key="BCC" value="osserva@osservamercati.it" />
    <add key="HtmlTemplatePath" value="E:\\d662bf6e7465517ab4ef3d8fed6e54\\ewWeb\\Siti\\R2\\Content" />
    <!-- FINE SEZIONE MAIL -->
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxSizeOfMessageToLog="65535000" maxMessagesToLog="500" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="ThreeStepWSBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="RetrieveReportWSBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wscorp.lince.it/WSCorporate_1/ThreeStepWS" binding="basicHttpBinding" bindingConfiguration="ThreeStepWSBinding" contract="CervedThreeStepProdServiceReference.ThreeStepWS" name="ThreeStepWSPort" />
      <endpoint address="http://wscorp.lince.it/WSCorporate_1/RetrieveReportWS" binding="basicHttpBinding" bindingConfiguration="RetrieveReportWSBinding" contract="CervedRetrieveReportServiceReference.RetrieveReportWS" name="RetrieveReportWSPort" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="E:\SOAPmessagesCONSOLE.log" />
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
