@model CentraleRischiR2.Models.User
@{
    ViewBag.Title = "Login Web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

</script>
@section additionalCss {
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/redmond/jquery-ui-1.8.2.custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/stile.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/mddmenu.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Site.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
}
<body>
    <h1>@ViewBag.Rediretto</h1>
    <div class="loginbox">
        <img src="~/Content/images/avatatLogin.png" class="avatar" />
        <h1>Invio Password</h1>
        @using (Html.BeginForm("SendPassword", "Home", FormMethod.Post))
        {
            <p>Nome Utente</p>
            @Html.TextBoxFor(m => m.Name, null, new { @class = "bigfield", placeholder = "Inserisci Nome Utente", required = "required", id = "UserID" })
            <p>Email</p>
            @Html.TextBoxFor(m => m.Email, new { @class = "email", type = "email", id="email", placeholder = "Inserisci Email", required = "required" })
            <input type="submit" id="submit_prog" name="btn" onclick="return validazioneEmail()" value="Invia" />
        }
    </div>
</body>
