<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DemoR2Entities" connectionString="metadata=res://*/CentraleRischiR2.csdl|res://*/CentraleRischiR2.ssdl|res://*/CentraleRischiR2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.0.17;initial catalog=OsservaR3.0;integrated security=False;User ID=osservauser;Password=O_cVn4U7p;;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ConnectionString" connectionString="Data Source=10.3.0.17;Initial Catalog=OsservaCentraleRischi;Integrated Security=False;MultipleActiveResultSets=False;User ID=osservauser;Password=O_cVn4U7p;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio Express&quot;" providerName="System.Data.SqlClient"/>
    <add name="OsservaCentraleRischiEntitiesModel" connectionString="metadata=res://*/OsservaCentraleRischiModel.csdl|res://*/OsservaCentraleRischiModel.ssdl|res://*/OsservaCentraleRischiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.3.0.17;User ID=osservauser;Password=O_cVn4U7p;Initial Catalog=OsservaCentraleRischi;Integrated Security=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DataInizio" value="01/05/2014"/>
    <add key="DataFine" value="01/06/2014"/>
    <add key="DataInizioCruscotto" value="01/08/2011"/>
    <add key="IdCentro" value="8"/>
    <add key="NumeroAziende" value="1000"/>
    <add key="ModalitaClassifica" value="GIORNI"/>
    <add key="SaltoAziende" value="0"/>
    <add key="PathReport" value="D:\\report\\"/>
    <add key="SmtpServer" value="siaermail4.siaer.prv"/>
    <add key="From" value="info@osservamercati.it"/>
    <add key="ToBcc" value="info@osservamercati.it"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
