<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="DemoR2Entities" connectionString="metadata=res://*/CentraleRischiR2.csdl|res://*/CentraleRischiR2.ssdl|res://*/CentraleRischiR2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=osservaweb.cr2zvcfmn3xy.eu-west-1.rds.amazonaws.com;initial catalog=OsservaR3.0;integrated security=False;User ID=root;Password=Ma4c01t!;;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="OsservaCentraleRischEntitiesR1" connectionString="metadata=res://*/CentraleRischiR2.csdl|res://*/CentraleRischiR2.ssdl|res://*/CentraleRischiR2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=osservaweb.cr2zvcfmn3xy.eu-west-1.rds.amazonaws.com;initial catalog=OsservaR3.0;integrated security=False;User ID=root;Password=Ma4c01t!;;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
