<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DemoR2Entities" connectionString="metadata=res://*/CentraleRischiR2.csdl|res://*/CentraleRischiR2.ssdl|res://*/CentraleRischiR2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.44.221.17;initial catalog=DemoR2;integrated security=False;User ID=osservauser;Password=O_cVn4U7p;;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CodiceAzienda" value="14020"/>
    <add key="SiglaProfilo" value="GLOPROSSE"/>
    <add key="ProductCode" value="55220"/>
    <add key="ThreeStepWSUrl" value="https://wscorp.lince.it/WSCorporate_1/ThreeStepWS"/>
    <add key="RetrieveReportWSUrl" value="https://wscorp.lince.it/WSCorporate_1/RetrieveReportWS"/>
    <add key="CDSStepWSUrl" value="https://wscorp.lince.it/WSCorporate_1/CdsWS"/>
    <!--
    <add key="NETUSERCDS" value="NET_OSSERVA_CDS_20140501" />    
    <add key="NETPASSWORDCDS" value="CERVEDGR" />
    -->
    <add key="NETUSERCDS" value="CGU4976"/>
    <add key="NETPASSWORDCDS" value="CERVEDGR"/>
    <!--
    <add key="NETUSER" value="NET_OSSERVA_CDS_20140501" />    
    <add key="NETPASSWORD" value="CERVEDGR" />
    -->
    <add key="ReportPath" value="D:\\"/>
    <add key="LogWSPath" value="D:\\"/>
    <add key="FtpUser" value="ftposserva"/>
    <add key="FtpPassword" value="O5serVa"/>
    <add key="FtpServer" value=" ftp://ftp.cerved.com"/>
    <add key="FtpServerIn" value=" ftp://ftp.cerved.com/IN"/>
    <add key="FtpServerOut" value=" ftp://ftp.cerved.com/OUT"/>
    <add key="PathOut" value="E:\\d662bf6e7465517ab4ef3d8fed6e54\\ewWeb\\Siti\R2\\CervedUpdateMonitoraggi\\out\\"/>
    <add key="PathIn" value="D:\\"/>
    <add key="PathLog" value="D:\\"/>
    <add key="PathBackup" value="D:\\backup"/>
    <!-- SEZIONE MAIL -->
    <add key="SendMail" value="False"/>
    <add key="SmtpServer" value="172.16.1.161"/>
    <add key="From" value="info@osservamercati.it"/>
    <add key="BCC" value="osserva@osservamercati.it"/>
    <add key="HtmlTemplatePath" value="E:\\d662bf6e7465517ab4ef3d8fed6e54\\ewWeb\\Siti\\R2\\Content"/>
    <!-- FINE SEZIONE MAIL -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
