<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DemoR2Entities" connectionString="metadata=res://*/CentraleRischiR2.csdl|res://*/CentraleRischiR2.ssdl|res://*/CentraleRischiR2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.44.221.17;initial catalog=DemoR2;integrated security=False;User ID=osservauser;Password=O_cVn4U7p;;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CodiceAzienda" value="14015"/>
    <add key="SiglaProfilo" value="GLOPROSSE"/>
    <add key="ProductCode" value="55220"/>
    <add key="ThreeStepWSUrl" value="https://wscorp.lince.it/WSCorporate_1/ThreeStepWS" />
    <add key="RetrieveReportWSUrl" value="https://wscorp.lince.it/WSCorporate_1/RetrieveReportWS" />
    <add key="CDSStepWSUrl" value="https://wscorp.lince.it/WSCorporate_1/CdsWS" />
    <!--
    <add key="NETUSERCDS" value="NET_OSSERVA_CDS_20140501" />    
    <add key="NETPASSWORDCDS" value="CERVEDGR" />
    -->
    <add key="NETUSERCDS" value="CGU4976" />
    <add key="NETPASSWORDCDS" value="CERVEDGR" />
    <!--
    <add key="NETUSER" value="NET_OSSERVA_CDS_20140501" />    
    <add key="NETPASSWORD" value="CERVEDGR" />
    -->
    <add key="NETUSER" value="CGU4976" />
    <add key="NETPASSWORD" value="CERVEDGR" />
    <add key="GP_PRODUCTCODE" value="55220" />
    <add key="GR_PRODUCTCODE" value="55210" />
    <add key="ReportPath" value="D:\\SviluppoOsserva\\CentraleRischiR2\\CentraleRischiR2\\ReportPDF\\" />
    <add key="LogWSPath" value="D:\\SviluppoOsserva\\CentraleRischiR2\\CentraleRischiR2\\ReportPDF\\log\\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
