<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OsservaCentraleRischiEntitiesModel" connectionString="metadata=res://*/OsservaCentraleRischiModel.csdl|res://*/OsservaCentraleRischiModel.ssdl|res://*/OsservaCentraleRischiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.3.0.17;User ID=osservauser;Password=O_cVn4U7p;Initial Catalog=OsservaCentraleRischi;Integrated Security=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="DemoR2Entities" connectionString="metadata=res://*/CentraleRischiR2.csdl|res://*/CentraleRischiR2.ssdl|res://*/CentraleRischiR2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=osservaweb.cr2zvcfmn3xy.eu-west-1.rds.amazonaws.com;initial catalog=OsservaR3.0;integrated security=False;User ID=root;Password=Ma4c01t!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="UsernameWsCs" value="gabriele.cionchi@mafcoit.it" />
    <add key="PasswordWsCs" value="UJwtFC5zy*JIjPY3v;YoS5|P" />
    <add key="ReportPath" value="C:\\report\\"/>
    <add key="IdCentro" value="7"/>
    <add key="Rating" value="Verde"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
