@{
    ViewBag.Title = "Posizionamento Aziendale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
<script src="~/scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/js/jquery-ui-1.8.2.custom.min.js" type="text/javascript"></script>
<script src="~/js/i18n/grid.locale-it.js" type="text/javascript"></script>
<script src="~/js/jquery.jqGrid.min.js" type="text/javascript"></script>
}
@section additionalCss {
<link rel="stylesheet" type="text/css" media="screen" href="~/css/redmond/jquery-ui-1.8.2.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="~/css/ui.jqgrid.css" />
}
@section loggedUser {
    @RenderPage("~/Views/Shared/_LoggedUser.cshtml")
}
@section navbar {
    @RenderPage("~/Views/Shared/_NavBar.cshtml")
}
@section searchForm {
    @RenderPage("~/Views/Shared/_SearchCerved.cshtml")
}
@section breadCrumb {
    @RenderPage("~/Views/Shared/_BreadCrumb.cshtml")
}
<br />
<h2>Sezione non disponibile</h2>
<br /><br /><br /><br /><br /><br /><br />