<?xml version="1.0"?>
<configuration>
  <appSettings>
  <add key="ThreeStepWSUrl" value="https://wscorp.lince.it/WSCorporate_1/ThreeStepWS"/>
  <add key="RetrieveReportWSUrl" value="https://wscorp.lince.it/WSCorporate_1/RetrieveReportWS"/>

  <!--
    Credenziali C4
    -->
  <!--
    <add key="NETUSER" value="NET78391" />
    <add key="NETPASSWORD" value="JPNH7037" />
    <add key="PRODUCTCODE" value="5100" />
    -->
  <!--
    Credenziali C5
    -->
  <add key="CDSStepWSUrl" value="https://wscorp.lince.it/WSCorporate_1/CdsWS"/>
  <add key="NETUSERCDS" value="NET_OSSERVA_CDS_20140501" />
  <add key="NETPASSWORDCDS" value="CERVEDGR" />

  <add key="NETUSER" value="NET_OSSERVA_20131128"/>
  <!--<add key="AMBIENTE" value="STANDARD" />-->
  <add key="NETPASSWORD" value="CERVEDGR"/>
  <add key="GP_PRODUCTCODE" value="55220"/>
  <add key="GR_PRODUCTCODE" value="55210"/>
  <add key="ReportPath" value="D:\\SviluppoOsserva\\CentraleRischiR2\\CentraleRischiR2\\ReportPDF\\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>


</configuration>
